In [ ]:
# List
n1 = 25
n2 = 30
n3 = 35
n4 = 40
n5 = 45
n6 = 50
# SALAH!!!

nilai = [25, 30, 35, 40, 45, 50]
# Bedul

In [ ]:
# Dictionary
data = {
    "Nama": ["Budi", "Ani", "Siti", "Joko"],
    "Umur": [13, 14, 13, 14],
    "Nilai": [85, 90, 75, 80]
    # format = key : value
}