In [25]:
import pandas as pd

data = {
    "Nama": ["Budi", "Siti", "Andi", "Rina"],
    "Umur": [13, 14, 13, 14],
    "Nilai": [85, 90, 75, 80]
}
df1 = pd.DataFrame(data)
print("DataFrame awal:\n", df1.to_string())

DataFrame awal:
    Nama  Umur  Nilai
0  Budi    13     85
1  Siti    14     90
2  Andi    13     75
3  Rina    14     80

In [26]:
data = {
    "Nama": ["Budi", "Siti", "Andi", "Rina"],
    "Umur": [13, None, 13, 14],
    "Nilai": [85, 90, None, 80]
}

df2 = pd.DataFrame(data)

df_clean = df2.dropna()
print("\nDataFrame dengan dihapus baris kosong:\n", df_clean.to_string())

DataFrame dengan dihapus baris kosong:
    Nama  Umur  Nilai
0  Budi  13.0   85.0
3  Rina  14.0   80.0

In [27]:
df_fillempty = df2.fillna(0)

print("\nDataFrame dengan diisi nilai kosong:\n", df_fillempty.to_string())

DataFrame dengan diisi nilai kosong:
    Nama  Umur  Nilai
0  Budi  13.0   85.0
1  Siti   0.0   90.0
2  Andi  13.0    0.0
3  Rina  14.0   80.0

In [28]:
df1_avg = df1['Umur'].mean()

#print(df1.to_string())
#print("\nRata-rata umur:", df1_avg)

df_avgnilaiumur = df1.groupby('Umur')['Nilai'].mean()
print("\nRata-rata Nilai berdasarkan Umur:\n", df_avgnilaiumur.to_string())

Rata-rata Nilai berdasarkan Umur:
 Umur
13    80.0
14    85.0

In [29]:
data1 = {
    'Nama': ['Budi', 'Siti'],
    'Nilai': [85, 90]
}
data2 = {
    'Nama': ['Andi', 'Rina'],
    'Nilai': [75, 80]
}
df1 = pd.DataFrame(data1)
df2 = pd.DataFrame(data2)
df_combined = pd.concat([df1, df2], ignore_index=True)
print("\nDataFrame gabungan:\n", df_combined.to_string())

DataFrame gabungan:
    Nama  Nilai
0  Budi     85
1  Siti     90
2  Andi     75
3  Rina     80