In [ ]:
data = {
    "Bulan": ["Januari", "Februari", "Maret", "April"],
    "Penjualan": [150, 180, 120, 200]
}