In [127]:
umur = 21
nama = "dewi"
tinggi = 1.68
is_mahasiswa = True

#arikmatika
a = 10;b = 4
print(a + b, a / b, a ** b)

14 2.5 10000

In [128]:
#arikmatik
pendapatan = 15_000_000
pajak = 0.11
net_income = pendapatan * (1-pajak)

#strink manipulasi
nama_kota = "jakarta selatan"
print(nama_kota.title()) #title for converting the variable to capitals like: "jakarta selatan" --> "Jakarta Selatan"

Jakarta Selatan

In [129]:
x = 7; y = 5
print(x > y, x == y)

a = True; b = False
print(a and b, a or b)

True False
False True

In [130]:
salam = "Halo, " + nama

print(salam)

Halo, dewi

In [131]:
nilai = 80
if nilai >= 75:
    print("Lulus!")
else:
    print("Tidak Lulus...")

Lulus!

In [132]:
nilai = 83
if nilai >= 90:
    print("A")
elif nilai >= 80:
    print("B")
else:
    print("C atau D")

B

In [133]:
if nilai is None:
    nilai = rata_rata_kolom
else:
    nilai = float(nilai)

In [134]:
temperature = 30
if temperature > 25:
    print("High temp alert!")
elif 18 <= temperature <= 25:
    print("Optimal range")
else:
    print("Cold condition")

High temp alert!

In [135]:
for i in range(5):
    print("Iterasi ke:", i)

Iterasi ke: 0
Iterasi ke: 1
Iterasi ke: 2
Iterasi ke: 3
Iterasi ke: 4

In [136]:
harga_saham = [1250, 1300, 1190, 1380]
for harga in harga_saham:
    if harga > 1300:
        print("Jual!") #terjuan

Jual!

In [137]:
hitung = 3
while hitung > 0:
    print(hitung)
    hitung -= 1

3
2
1

In [138]:
while True:
    usia = input("Masukkan usia: ")
    if usia.isdigit():
        break # keluar loop jika input valit

In [139]:
# brek and continuye

for i in range(10):
    if i == 5:
        break
    if i % 2 == 0:
        continue
    print(i)

1
3